.navbar-inner
    .container
        a.brand(href="/") = "MyFeed"
        ul.nav
            li
                a = "Feeds"
            li
                a = "Users"
            li
                a = "Logs"

        ul.nav.pull-right
            li.dropdown.pull-right
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button")
                    b= "dungvn3000"
                    b.caret
                ul.dropdown-menu(role="menu")
                    li
                        a(href="/profile")= "Profile"
                    li.divider
                    li
                        a(href="/logout")= "Logout"