- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra"

p = "Hello, Scalate!"
.span2
    - for (i <- 1 to 3)
        p = i
    p.strong = "See, I can count!"