- attributes("layout") = ""

.table-control.row-fluid
    .span5
        form.form-inline(action='')
            input.span6(type='search' ng-model='value' ng-change='query(field, value, sort, order, 1, limit)' placeholder='Search by name')
            select.span3(ng-model='field' ng-change='query(field, value, sort, order, 1, limit)')
                option(value='name') name
                option(value='url') url
            button.btn(ng-click='value = ""; query(field, value, sort, order, 1, limit)') Reset
        div(style='float: right;')
            a#add.btn.btn-success.btn-add(href='' ng-click='add()') Create new
    table.table.table-bordered.table-condensed.table-hover
        thead
            tr
                th.span1 TT
                th.header(ng-class='{headerSortUp: sort == "name"}' ng-click='query(field, value, "name", 0 - order, page, limit)') Name
                th.header(ng-class='{headerSortUp: sort == "url"}' ng-click='query(field, value, "url", 0 - order, page, limit)') Url
                th.span2 Option
        tbody
            tr(ng-repeat='entry in data')
                td {{data.indexOf(entry) + ((page - 1) * limit) + 1}}
                td
                    a(href='' ng-click='add(entry._id)') {{entry.name}}
                td {{entry.url}}
                td
                    a(href='' ng-click='delete(entry._id)') Delete
    .row-fluid
        .pagination(style='float: right;')
            ul
                li(ng-class='{disabled: page == 1}')
                    a(href='' ng-click='query(field, value, sort, order, 1, limit)') «
                li(ng-class='{active: page == i}' ng-repeat='i in [] | range:totalPage')
                    a(href='' ng-click='query(field, value, sort, order, i, limit)') {{i}}
                li(ng-class='{disabled: page == totalPage}')
                    a(href='' ng-click='query(field, value, sort, order, totalPage, limit)') »
