-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!5
html
  head
    title= title
    script(type= 'text/javascript' src= 'wro/scripts.js')
  body
    #content.content
      h1= headline
      != body
    p= "dung ne"
