<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="db.xml"/>
    <import resource="crawlModule.xml"/>

    <bean id="linkerZParser" class="org.linkerz.crawler.bot.parser.LinkerZParser" init-method="load">
        <property name="mongoOperations" ref="mongoTemplate"/>
    </bean>

    <bean id="newFeedController" class="org.linkerz.crawler.bot.controller.NewFeedController">
        <property name="mongoOperations" ref="mongoTemplate"/>
        <property name="crawlerController" ref="crawlerController"/>
    </bean>

</beans>